{{ define "main" }}

<div class="flex flex-wrap bg-cover sm:bg-fixed bg-center -mt-16 pt-56 pb-40 sm:py-48 hero-section">
    <div class="w-5/6 sm:w-3/4 max-w-6xl mx-auto text-center hero-text">
        <h1 class="font-ibm-serif text-5xl sm:text-8xl font-thin tracking-tighter leading-tight">We helped these guys <span class="text-limegreen font-bold italic">we can help you too!</span></h1>
    </div>
</div>

<div class="flex flex-wrap pb-24">
    <a href="/case-study/remediant/" class="w-full sm:w-1/2 hover:opacity-90 hover:cursor-pointer z-20 remediant-dot-com">
        <div class="py-32"></div>
        <div class="flex flex-wrap">
        <h6 class="w-auto bg-white font-ibm-serif text-2xs ml-5 px-1 uppercase">Improved editing experience</h6>
        <h5 class="w-full font-ibm-conds text-lg xl:text-2xl font-bold text-white pl-5 work-example-header">Remediant.com</h5>
        </div>
        <div class="py-4"></div>
    </a>
    <a href="/case-study/onpoint-custom-homes/" class="w-full sm:w-1/2 hover:opacity-90 hover:cursor-pointer z-20 onpoint-dot-com">
        <div class="py-32"></div>
        <div class="flex flex-wrap">
        <h6 class="w-auto bg-white font-ibm-serif text-2xs ml-5 px-1 uppercase">Sped up site & Improved editing experience</h6>
        <h5 class="w-full font-ibm-conds text-lg xl:text-2xl font-bold text-white pl-5 work-example-header">Onpointcustomhomes.com</h5>
        </div>
        <div class="py-4"></div>
    </a>
    <a href="/case-study/femac/" class="w-full md:w-1/2 hover:opacity-90 hover:cursor-pointer z-20 femac-dot-com">
        <div class="py-32"></div>
        <div class="flex flex-wrap">
        <h6 class="w-auto bg-white font-ibm-serif text-2xs ml-5 px-1 uppercase">Sped up site & decreased hosting costs</h6>
        <h5 class="w-full font-ibm-conds text-lg xl:text-2xl font-bold text-white pl-5 work-example-header">femacsecuritysolutions.com</h5>
        </div>
        <div class="py-4"></div>
    </a>
    <a href="/general-contact/" class="relative w-full md:w-1/2 flex flex-wrap mr-auto pb-5 pl-5 border-t-8 border-b-8 border-limegreen z-20">
        <div class="w-full max-w-6xl mr-auto text-left hero-text">
            <h5 class="font-ibm-serif text-5xl sm:text-5xl font-thin tracking-tighter leading-tight">Find out if we can help improve your website <span class="font-bold italic underline">click here</span></h5>
        </div>
    </a>
</div>


{{ end }}