{{ define "main" }}

<style>
.home-hero-button {
    transition: .1s;
}
.home-hero-button:hover {
    background: limegreen
}
.remediant-dot-com {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/b_black,o_70/v1567791021/greenZero/remediant-project.jpg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}
.onpoint-dot-com {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/b_black,o_90/v1567791487/greenZero/onpoint-project.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.femac-dot-com {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/b_black,o_90/v1567791788/greenZero/femac-project.jpg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}
/* .remediant-dot-com-quote {
    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
-webkit-clip-path: polygon(0 0, 18% 0, 76% 0, 0 40%);
      clip-path: polygon(0 10%, 100% 0, 100% 80%, 0 100%);
      z-index: -1;
} */
.work-example-box:hover {
    opacity: .9;
    transition: .2s;
}
.work-example-header {
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}
.quote-home-page {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/o_20/v1567800686/greenZero/blockquote-home.png");
    background-size: 200px;
    background-position: -30px -60px;
    background-repeat: no-repeat;
}
.quote-home-page-dark {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/o_80/v1567800686/greenZero/blockquote-home.png");
    background-size: 200px;
    background-position: -30px -60px;
    background-repeat: no-repeat;
}
.on-the-fence-article-box {
    background: linear-gradient(217deg, limegreen, #008000);
}
.tns-nav {
    text-align: center;
    padding-top: 50px;
}
.tns-nav > [aria-controls] {
    background-color: grey;
    padding: 5px;
    margin-right: 5px;
    border-radius: 6em;
}
.tns-nav > .tns-nav-active {
    background-color: #008000;
    padding: 5px;
    border-radius: 6em;
}
.tns-outer {
    margin: 0 auto;
}
.rotated {
    transform: rotate(0deg);
}
body {
    background-color: ;

}
.hero-text {
    color: ;
}
.prefooter-background {
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #008000), color-stop(.5, limegreen) );
    background-image: gradient( linear, left top, right top, color-stop(0, #008000), color-stop(.5, limegreen) );

}
.hero-section {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/o_10/v1549317630/greenZero/affordable-website-development.jpg")
}
#remediant-quote {
    -webkit-clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 80%);
    clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 80%);
}
#femac-quote {
    -webkit-clip-path: polygon(100% 0%, 0% 20%, 0% 100%, 100% 200%);
    clip-path: polygon(100% 0%, 0% 20%, 0% 100%, 100% 200%);
}
</style>

<div class="flex flex-wrap bg-cover sm:bg-fixed bg-center -mt-16 py-40 sm:py-48 hero-section">
    <div class="w-3/4 max-w-6xl mx-auto text-center hero-text">
        <h1 class="font-ibm-serif text-4xl sm:text-8xl font-thin tracking-tighter leading-tight">We will optimize your web for <span class="text-limegreen font-bold italic">{{ now.Format "January 2, 2006" }}</span></h1>
        <!-- <h2 class="font-ibm-mono text-3.5xl sm:text-5xl xxl:text-6xl tracking-wide leading-none text-center">{{ now.Format "January 2, 2006" }}</h2> -->
    </div>
</div>

<!-- <div class="flex flex-wrap py-40">
    <div class="flex flex-wrap w-5/6 sm:w-4/5 mx-auto">
        <div class="flex flex-wrap w-5/6 mr-auto">
            <h1 class="font-ibm-conds text-3.5xl sm:text-5xl xxl:text-6xl font-thin tracking-wide pb-8 xl:pl-20 leading-none">Websites worthy of a<noscript><span class="border-t-4 border-color-008000 ml-2 lg:ml-5 highlight-text">Real Like</span></h1></noscript><script type="text/javascript">document.write(getRandomHey());</script>
        </div>
        <div class="w-5/6 lg:w-1/2 mx-auto">
            <p class="font-ibm-serif text-lg md:text-xl lg:text-2xl font-thin pb-8">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <a href="">
                <span class="font-ibm-conds text-base font-bold hover:text-white border-b-4 border-color-008000 uppercase py-2 hover:pb-1 px-2 home-hero-button">Services</span>
            </a>
        </div>
    </div>
</div> -->

<!-- <div class="flex flex-wrap w-1/2 ml-auto bg-gray-100 -mt-120 lg:-mt-80">
    <div class="py-72"></div>
</div> -->

<div class="flex flex-wrap sm:-mt-12 sm:m-10 shadow-xl">
    <a href="#remediant-quote" class="w-full sm:w-1/2 lg:w-1/3 hover:opacity-90 hover:cursor-pointer z-20 scroll remediant-dot-com">
        <div class="py-20 lg:py-24"></div>
        <div class="flex flex-wrap">
        <h6 class="w-auto bg-white font-ibm-serif text-2xs ml-5 px-1 uppercase">Improved editing experience</h6>
        <h3 class="w-full font-ibm-conds text-lg xl:text-2xl font-bold text-white pl-5 work-example-header">Remediant.com</h3>
        </div>
        <div class="py-4"></div>
    </a>
    <a href="#onpoint-quote" class="w-full sm:w-1/2 lg:w-1/3 hover:opacity-90 hover:cursor-pointer z-20 scroll onpoint-dot-com">
        <div class="py-20 lg:py-24"></div>
        <div class="flex flex-wrap">
        <h6 class="w-auto bg-white font-ibm-serif text-2xs ml-5 px-1 uppercase">Sped up site & Improved editing experience</h6>
        <h3 class="w-full font-ibm-conds text-lg xl:text-2xl font-bold text-white pl-5 work-example-header">Onpointcustomhomes.com</h3>
        </div>
        <div class="py-4"></div>
    </a>
    <a href="#femac-quote" class="w-full lg:w-1/3 hover:opacity-90 hover:cursor-pointer z-20 scroll femac-dot-com">
        <div class="py-20 lg:py-24"></div>
        <div class="flex flex-wrap">
        <h6 class="w-auto bg-white font-ibm-serif text-2xs ml-5 px-1 uppercase">Sped up site & decreased hosting costs</h6>
        <h3 class="font-ibm-conds text-lg xl:text-2xl font-bold text-white pl-5 work-example-header">femacsecuritysolutions.com</h3>
        </div>
        <div class="py-4"></div>
    </a>
</div>

<script>

</script>

<style>
    .example-background {
        background-image: url("");
    }
    .example-background-1 {
        background-image: url("");
    }
</style>

<div id="remediant-quote" class="flex flex-wrap bg-black -mt-20 pb-48 z-20">
    <div class="w-5/6 lg:w-3/4 mx-auto mt-32">
        <blockquote class="font-ibm-serif text-xl sm:text-3xl lg:text-4xl font-bold text-white py-8 lg:px-12 quote-home-page-dark">greenZero helped us ditch a confusing and slow website editing process that we'd been dealing with for months. Our new website has the best of both worlds - it's quick for our users and simple for us to edit.</blockquote>
        <h6 class="font-ibm-mono text-white lg:px-12">Tim Keeler</h6>
        <p class="font-ibm-serif font-thin text-sm text-white pb-16 lg:px-12">Founder CEO, Remediant Inc.</p>
        <a href="" class="lg:px-12">
            <span class="font-ibm-conds bg-limegreen text-base font-bold text-white text-white border-b-4 border-color-008000 uppercase py-1 hover:py-2 px-2 home-hero-button">how we helped</span>
        </a>
    </div>
</div>

<div id="onpoint-quote" class="flex flex-wrap z-20 pb-12">
    <div class="w-5/6 lg:w-3/4 mx-auto pt-24">
        <blockquote class="font-ibm-serif text-xl sm:text-3xl lg:text-4xl font-bold py-8 lg:px-12 quote-home-page">Customers were complaining that our site was slow - we needed a fix and we needed it fast. greenZero worked with us to speed up our site and helped make our editing process less of a headache.</blockquote>
        <h6 class="font-ibm-mono lg:px-12">Ashley Tucker</h6>
        <p class="font-ibm-serif font-thin text-sm pb-16 lg:px-12">Founder CEO, OnPointCustomHomes</p>
        <a href="" class="lg:px-12">
            <span class="font-ibm-conds bg-limegreen text-base font-bold text-white border-b-4 border-color-008000 uppercase py-1 hover:py-2 px-2 home-hero-button">how we helped</span>
        </a>
    </div>
</div>

<div id="femac-quote" class="flex flex-wrap bg-black z-20">
    <div class="w-5/6 lg:w-3/4 mx-auto pt-56">
        <blockquote class="font-ibm-serif text-xl sm:text-3xl lg:text-4xl font-bold text-white py-8 lg:px-12 quote-home-page-dark">greenZero helped us ditch a confusing and slow website editing process that we'd been dealing with for months. Our new website has the best of both worlds - it's quick for our users and simple for us to edit.</blockquote>
        <h6 class="font-ibm-mono text-white lg:px-12">Tim Keeler</h6>
        <p class="font-ibm-serif font-thin text-sm text-white pb-16 lg:px-12">Founder CEO, Remediant Inc.</p>
        <a href="" class="lg:px-12">
            <span class="font-ibm-conds bg-limegreen text-base font-bold text-white text-white border-b-4 border-color-008000 uppercase py-1 hover:py-2 px-2 home-hero-button">how we helped</span>
        </a>
    </div>
</div>

<div class="relative w-11/12 flex flex-wrap mt-56 ml-auto pb-5 pl-5 border-t-8 border-b-8 border-limegreen z-20">
    <div class="w-full max-w-6xl mr-auto text-left hero-text">
        <h1 class="font-ibm-serif text-3.5xl sm:text-7xl font-thin tracking-tighter leading-tight">Your website should be <span class="font-bold italic underline">fast</span>, <span class="font-bold italic underline">secure</span> and <span class="font-bold italic underline">easy to edit</span></h1>
    </div>
</div>

<style>
.fast-websites {
    background-image: url("");
}
.secure-websites {
    background-image: url("");
    -webkit-clip-path: polygon(100% 0%, 0% 25%, 0% 100%, 100% 80%);
    clip-path: polygon(100% 0%, 0% 25%, 0% 100%, 100% 75%);
}
.editing-my-website-easily {
    background-image: url("");
}
</style>

<div class="flex flex-wrap z-0">
    <div class="w-full pt-56 pb-12 fast-websites">
        <div class="flex flex-wrap w-5/6 sm:w-2/3 mx-auto">
        <h6 class="w-auto bg-black font-ibm-serif text-2xs text-white mb-2 px-1 uppercase">Make your website faster</h6>
        <h3 class="w-full font-ibm-conds text-lg xl:text-4xl font-bold mb-4">Websites should always load fast - no exceptions. We can help make your website faster.</h3>
        <a href="" class="">
            <span class="font-ibm-conds bg-limegreen text-base font-bold text-white border-b-4 border-color-008000 uppercase py-1 hover:py-2 px-2 home-hero-button">work on speed</span>
        </a>
        </div>
    </div>
    <div class="w-full bg-black pt-80 pb-48 secure-websites">
        <div class="flex flex-wrap w-5/6 sm:w-2/3 mx-auto pb-10">
        <h6 class="w-auto bg-white font-ibm-serif text-2xs mb-2 px-1 uppercase">Secure your website</h6>
        <h3 class="w-full font-ibm-conds text-lg xl:text-4xl text-white font-bold mb-4">A website can be built with security in mind. There's no need for expensive security monitoring.</h3>
        <a href="" class="">
            <span class="font-ibm-conds bg-limegreen text-base font-bold text-white border-b-4 border-color-008000 uppercase py-1 hover:py-2 px-2 home-hero-button">improve security</span>
        </a>
        </div>
    </div>
    <div class="w-full pt-32 editing-my-website-easily">
        <div class="flex flex-wrap w-5/6 sm:w-2/3 mx-auto pb-16">
        <h6 class="w-auto bg-black font-ibm-serif text-2xs text-white mb-2 px-1 uppercase">Edit your website</h6>
        <h3 class="w-full font-ibm-conds text-lg xl:text-4xl font-bold mb-4">Editing your website should not be difficult. We will help make the editing experience enjoyable.</h3>
        <a href="" class="">
            <span class="font-ibm-conds bg-limegreen text-base font-bold text-white border-b-4 border-color-008000 uppercase py-1 hover:py-2 px-2 home-hero-button">help me edit</span>
        </a>
        </div>
    </div>
    <div class="relative w-11/12 flex flex-wrap mt-40 mb-32 mr-auto pb-5 pl-5 border-t-8 border-b-8 border-limegreen z-20">
    <div class="w-full max-w-6xl mr-auto text-left hero-text">
        <h1 class="font-ibm-serif text-3.5xl sm:text-7xl font-thin tracking-tighter leading-tight">Is some other web-related problem ailing you?<a href="" class="font-bold italic underline">Click Here</a></h1>
    </div>
        </div>
</div>

<!-- <div class="flex flex-wrap">
    <div class="flex flex-wrap items-center w-full lg:w-11/12 bg-gray-300 mx-auto px-12">
        <h2 class="font-ibm-conds text-4xl font-thin">Hey! We built these too!</h2>
        <a href="" class="sm:ml-auto">
            <span class="font-ibm-conds text-xs font-bold hover:text-white uppercase py-2 hover:pb-1 px-2">see more of our work</span>
        </a>
    </div>
</div>

<div class="flex flex-wrap w-5/6 mr-auto bg-gray-100 -mt-32">
    <div class="py-72"></div>
</div>

<section id="homepage-slider" class="flex flex-wrap relative -mt-112 mx-auto homepage-slider">
    <div id="homepage-slider-images" class="flex flex-wrap mx-auto">
    <div class="flex flex-wrap mx-auto beth-slide">
        <div class="flex flex-wrap w-11/12 mx-auto">
            <div class="flex flex-wrap items-start w-full lg:w-2/3 mx-auto">
                <div class="w-full m-4 p-40 shadow-lg beth-1"></div>
            <div class="flex w-full">
                <div class="hidden md:block w-1/2 bg-cover bg-center m-4 p-24 shadow-lg beth-2"></div>
                <div class="hidden md:block w-1/2 bg-cover bg-center m-4 p-24 shadow-lg beth-3"></div>
            </div>
            </div>
            <div class="hidden lg:flex flex-wrap w-1/3">
                <div class="flex w-full m-4 shadow-lg">
                    <div class="w-full mx-auto p-40 beth-4"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-wrap lukes-slide">
            <div class="flex flex-wrap w-11/12 mx-auto">
                <div class="flex flex-wrap w-full lg:w-2/3">
                    <div class="w-full m-4 p-40 shadow-lg luke-1"></div>
                <div class="flex w-full">
                    <div class="hidden lg:block w-1/2 bg-cover bg-center m-4 p-24 shadow-lg luke-2"></div>
                    <div class="hidden lg:block w-1/2 bg-cover bg-center m-4 p-24 shadow-lg luke-3"></div>
                </div>
            </div>
            <div class="hidden lg:flex flex-wrap w-1/3">
                <div class="flex w-full m-4 shadow-lg">
                    <div class="w-full mx-auto p-40 luke-4"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-wrap simply-slide">
            <div class="flex flex-wrap w-11/12 mx-auto">
                <div class="flex flex-wrap w-full lg:w-2/3">
                    <div class="w-full m-4 p-40 shadow-lg simply-1"></div>
                <div class="flex w-full">
                    <div class="hidden lg:block w-1/2 bg-cover bg-center m-4 p-24 shadow-lg simply-2"></div>
                    <div class="hidden lg:block w-1/2 bg-cover bg-center m-4 p-24 shadow-lg simply-3"></div>
                </div>
            </div>
            <div class="hidden lg:flex flex-wrap w-1/3">
                <div class="flex w-full m-4 shadow-lg">
                    <div class="w-full mx-auto p-40 simply-4"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-wrap ar-us-slide">
            <div class="flex flex-wrap w-11/12 mx-auto">
                <div class="flex flex-wrap w-full lg:w-2/3">
                    <div class="w-full m-4 p-40 shadow-lg ar-us-1"></div>
                <div class="flex w-full">
                    <div class="hidden lg:block w-1/2 bg-cover bg-center m-4 p-24 shadow-lg ar-us-2"></div>
                    <div class="hidden lg:block w-1/2 bg-cover bg-center m-4 p-24 shadow-lg ar-us-3"></div>
                </div>
            </div>
            <div class="hidden lg:flex flex-wrap w-1/3">
                <div class="flex w-full m-4 shadow-lg">
                    <div class="w-full mx-auto p-40 ar-us-4"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-wrap ranco-response-slide">
            <div class="flex flex-wrap w-11/12 mx-auto">
                <div class="flex flex-wrap w-full lg:w-2/3">
                    <div class="w-full m-4 p-40 shadow-lg ranco-1"></div>
                <div class="flex w-full">
                    <div class="hidden lg:block w-1/2 bg-cover bg-center m-4 p-24 shadow-lg ranco-2"></div>
                    <div class="hidden lg:block w-1/2 bg-cover bg-center m-4 p-24 shadow-lg ranco-3"></div>
                </div>
            </div>
            <div class="hidden lg:flex flex-wrap w-1/3">
                <div class="flex w-full m-4 shadow-lg">
                    <div class="w-full mx-auto p-40 ranco-4"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-wrap remediant-slide">
            <div class="flex flex-wrap w-11/12 mx-auto">
                <div class="flex flex-wrap w-full lg:w-2/3">
                    <div class="w-full m-4 p-40 shadow-lg remediant-1"></div>
                <div class="flex w-full">
                    <div class="hidden lg:block w-1/2 bg-cover bg-center m-4 p-24 shadow-lg remediant-2"></div>
                    <div class="hidden lg:block w-1/2 bg-cover bg-center m-4 p-24 shadow-lg remediant-3"></div>
                </div>
            </div>
            <div class="hidden lg:flex flex-wrap w-1/3">
                <div class="flex w-full m-4 shadow-lg">
                    <div class="w-full mx-auto p-40 remediant-4"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-wrap onpoint-slide">
            <div class="flex flex-wrap w-11/12 mx-auto">
                <div class="flex flex-wrap w-full lg:w-2/3">
                    <div class="w-full m-4 p-40 shadow-lg onpoint-1"></div>
                <div class="flex w-full">
                    <div class="hidden lg:block w-1/2 bg-cover bg-center m-4 p-24 shadow-lg onpoint-2"></div>
                    <div class="hidden lg:block w-1/2 bg-cover bg-center m-4 p-24 shadow-lg onpoint-3"></div>
                </div>
            </div>
            <div class="hidden lg:flex flex-wrap w-1/3">
                <div class="flex w-full m-4 shadow-lg">
                    <div class="w-full mx-auto p-40 onpoint-4"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <ul class="flex flex-wrap w-full text-center -mt-8 controls" id="slider-controls">
        <div class="w-1/2 h-full outline-none">
            <i class="text-color-008000 text-2xl lg:text-3xl px-2 py-3 rounded opacity-50 hover:opacity-100 hover:cursor-pointer focus:outline-none fas fa-angle-left"></i>
        </div>
        <div class="w-1/2 h-full outline-none">
            <i class="text-color-008000 text-2xl lg:text-3xl px-2 py-3 rounded opacity-50 hover:opacity-100 hover:cursor-pointer focus:outline-none fas fa-angle-right"></i>
        </div>
    </ul>
</section> -->
{{ end }}