{{ define "main" }}

<style>
.remediant-dot-com {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/v1549394021/greenZero/case-study-insurance-industry.png");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}
.onpoint-dot-com {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/v1549394021/greenZero/case-study-insurance-industry.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.femac-dot-com {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/v1549394021/greenZero/case-study-insurance-industry.png");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}
.hero-section {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/o_10/v1549317630/greenZero/affordable-website-development.jpg")
}
</style>

<div class="flex flex-wrap bg-cover sm:bg-fixed bg-center -mt-16 pt-56 pb-40 sm:py-48 hero-section">
    <div class="w-5/6 sm:w-3/4 max-w-6xl mx-auto text-center hero-text">
        <h1 class="font-ibm-serif text-5xl sm:text-8xl font-thin tracking-tighter leading-tight">Improving websites isn't rocket science <span class="text-limegreen font-bold italic">this is how we do it</span></h1>
        <!-- <h2 class="font-ibm-mono text-3.5xl sm:text-5xl xxl:text-6xl tracking-wide leading-none text-center">{{ now.Format "January 2, 2006" }}</h2> -->
    </div>
</div>

<div class="flex flex-wrap pb-24">
    <div class="w-full sm:w-1/2 bg-cover bg-center hover:opacity-90 hover:cursor-pointer z-20 remediant-dot-com">
        <div class="py-24"></div>
        <div class="flex flex-wrap">
        <h6 class="w-auto bg-white font-ibm-serif text-2xs ml-5 px-1 uppercase">how we do it</h6>
        <h3 class="w-full font-ibm-conds text-lg xl:text-2xl font-bold text-white pl-5 work-example-header">Speeding up websites</h3>
        </div>
        <div class="py-4"></div>
    </div>
    <div class="w-full sm:w-1/2 bg-cover bg-bottom hover:opacity-90 hover:cursor-pointer z-20 onpoint-dot-com">
        <div class="py-24"></div>
        <div class="flex flex-wrap">
        <h6 class="w-auto bg-white font-ibm-serif text-2xs ml-5 px-1 uppercase">how we do it</h6>
        <h3 class="w-full font-ibm-conds text-lg xl:text-2xl font-bold text-white pl-5 work-example-header">Securing websites</h3>
        </div>
        <div class="py-4"></div>
    </div>
    <div class="w-full md:w-1/2 hover:opacity-90 hover:cursor-pointer z-20 femac-dot-com">
        <div class="py-24"></div>
        <div class="flex flex-wrap">
        <h6 class="w-auto bg-white font-ibm-serif text-2xs ml-5 px-1 uppercase">how we do it</h6>
        <h3 class="w-full font-ibm-conds text-lg xl:text-2xl font-bold text-white pl-5 work-example-header">Improving editing capabilities</h3>
        </div>
        <div class="py-4"></div>
    </div>
    <div class="relative w-full md:w-1/2 flex flex-wrap mr-auto pb-5 pl-5 border-t-8 border-b-8 border-limegreen z-20">
        <div class="w-full max-w-6xl mr-auto text-left hero-text">
            <h1 class="font-ibm-serif text-5xl sm:text-5xl font-thin tracking-tighter leading-tight">Curious how we improve some other aspect of the web?<a href="" class="font-bold italic underline">click here</a></h1>
        </div>
    </div>
</div>


{{ end }}