@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:200,300,400,500,700|IBM+Plex+Sans+Condensed:200,300,400,500,700|IBM+Plex+Serif:200,300,400,500,700&display=swap');

.mobile-menu-toggle {margin-top: 0px !important;}

.mobile-menu {
  position:absolute;
  width:100%;
  top: 0;
  left: 0;
  right: 0;
  margin-top: -570px;
  height: 450px;
  transition: .5s;
}

.mobile-menu-button button {
  background-color: transparent;
  border-color: transparent;
}

/* Elevator css */

.elevator-button {
  position: fixed;
  font-size: 30px;
  right: 5%;
  bottom: 10%;
  transition: .2s;
}

.hidegotoTop {
  right: -100px !important;
  transition: .2s;
}

.elevator-button:hover {
  cursor: pointer;
  padding-bottom: 5px;
}