<style>
.beth-1 {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/v1568058402/greenZero/bethanys-1.jpg");
    background-size: cover;
}
.beth-2 {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/v1568058402/greenZero/bethanys-2.jpg");
    background-size: cover;
}
.beth-3 {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/v1568058402/greenZero/bethanys-3.jpg");
    background-size: cover;
}
.beth-4 {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/v1568058403/greenZero/bethanys-4.jpg");
    background-size: cover;
}
.luke-1 {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/v1568058403/greenZero/lukes-project-1.jpg");
    background-size: cover;
}
.luke-2 {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/v1568058403/greenZero/lukes-project-2.jpg");
    background-size: cover;
}
.luke-3 {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/v1568058403/greenZero/lukes-project-3.jpg");
    background-size: cover;
}
.luke-4 {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/v1568058403/greenZero/lukes-project-4.jpg");
    background-size: cover;
}
.simply-1 {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/v1568058404/greenZero/simply-1.jpg");
    background-size: cover;
}
.simply-2 {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/v1568058404/greenZero/simply-2.jpg");
    background-size: cover;
}
.simply-3 {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/v1568058404/greenZero/simply-3.jpg");
    background-size: cover;
}
.simply-4 {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/v1568058404/greenZero/simply-4.jpg");
    background-size: cover;
}
.ar-us-1 {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/v1568058402/greenZero/ar-us-1.jpg");
    background-size: cover;
}
.ar-us-2 {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/v1568058402/greenZero/ar-us-2.jpg");
    background-size: cover;
}
.ar-us-3 {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/v1568058402/greenZero/ar-us-3.jpg");
    background-size: cover;
}
.ar-us-4 {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/v1568058402/greenZero/ar-us-4.jpg");
    background-size: cover;
}
.ranco-1 {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/v1568058403/greenZero/ranco-response-1.jpg");
    background-size: cover;
}
.ranco-2 {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/v1568058403/greenZero/ranco-response-2.jpg");
    background-size: cover;
}
.ranco-3 {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/v1568058403/greenZero/ranco-response-3.jpg");
    background-size: cover;
}
.ranco-4 {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/v1568058403/greenZero/ranco-response-4.jpg");
    background-size: cover;
}
.remediant-1 {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/v1568058404/greenZero/remediant-1.jpg");
    background-size: cover;
}
.remediant-2 {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/v1568058404/greenZero/remediant-2.jpg");
    background-size: cover;
}
.remediant-3 {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/v1568058404/greenZero/remediant-3.jpg");
    background-size: cover;
}
.remediant-4 {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/v1568058404/greenZero/remediant-4.jpg");
    background-size: cover;
}
.onpoint-1 {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/v1568058403/greenZero/onpoint-1.jpg");
    background-size: cover;
}
.onpoint-2 {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/v1568058403/greenZero/onpoint-2.jpg");
    background-size: cover;
}
.onpoint-3 {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/v1568058403/greenZero/onpoint-3.jpg");
    background-size: cover;
}
.onpoint-4 {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/v1568058403/greenZero/onpoint-4.jpg");
    background-size: cover;
}


</style>