<nav id="navigation-wrapper" class="flex flex-wrap items-center w-1/4 md:w-1/2 lg:w-2/3 ml-auto text-right">

<a id="header-button" class="hidden md:block font-ibm-conds text-sm text-white uppercase py-2 px-3 ml-auto" href="/free-site-review/">
  <span class="">free site review</span>
</a>

<a id="mobile-menu" class="scroll text-right ml-auto md:ml-0">
  <div id="mobile-menu-button" class="mobile-menu-button">
    <i class="w-12 h-10 mx-auto text-2xl text-color-008000 text-center pt-2 hover:text-limegreen hover:cursor-pointer mobile-menu-icon fas fa-bars"></i>
  </div>
</a>

</nav>