{{ $script := .Site.Data.webpack_assets.app }}
{{ with $script.js }}
  <script defer src="{{ absURL (printf "%s%s" "/dist/" .) }}"></script>
{{ end }}

{{ if eq .Site.Params.extra_tools.floating_header true }}
<script>
let scrollpos = window.scrollY
  const header = document.querySelector(".header-container")
  const logoText = document.querySelector("#logo-text")
  const headerButton = document.querySelector("#header-button")
  const mobileIcon = document.querySelector("#mobile-menu-icon")
  const headerHeightFix = document.querySelector("#headerFloatingHeightFix")
  const headerHeight = header.offsetHeight
  const addHeaderFloat = () => header.classList.add("fixed", "z-50", "top-0", "w-full", "bg-white", "shadow-lg")
  const addHeaderFloatText = () => logoText.classList.add("text-3xl")
  const addHeaderMobileIcon = () => mobileIcon.classList.remove("sm:w-10")
  const addHeaderHeightFix = () => headerHeightFix.classList.add("h-16", "sm:h-24")
  const removeHeaderFloat = () => header.classList.remove("fixed", "shadow-lg")
  const removeHeaderHeightFix = () => headerHeightFix.classList.remove("h-16", "sm:h-24")
  const removeHeaderFloatText = () => logoText.classList.remove("text-3xl")
  const removeHeaderMobileIcon = () => mobileIcon.classList.add("sm:w-10")
  window.addEventListener('scroll', function() { 
    scrollpos = window.scrollY;
    if (scrollpos >= headerHeight + 400) { addHeaderFloat(), addHeaderHeightFix(), addHeaderFloatText(), addHeaderMobileIcon() }
    else { removeHeaderFloat(), removeHeaderHeightFix(), removeHeaderFloatText(), removeHeaderMobileIcon() }
})
</script>
{{ else }}
{{ end }}